In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None)      # Show all rows
pd.set_option('display.max_columns', None)   # Show all columns
pd.set_option('display.width', None)         # Don't wrap lines
pd.set_option('display.colheader_justify', 'left')

df = pd.read_csv('./district_withdrawals.csv')
df
#.head(20)

   Month       Year Reason            Count
0      August  2022  Elementary With  45
1      August  2022    EXP CAN'T RET   5
2      August  2022   Transferred to   2
3      August  2022  OTHER (UNKNOWN)  10
4   September  2022  Elementary With  52
5   September  2022    EXP CAN'T RET  10
6   September  2022  OTHER (UNKNOWN)  10
7     October  2022  Elementary With  50
8     October  2022    EXP CAN'T RET  15
9     October  2022  OTHER (UNKNOWN)  12
10   November  2022  Elementary With  42
11   November  2022    EXP CAN'T RET   3
12   November  2022  OTHER (UNKNOWN)  13
13   December  2022  Elementary With  15
14   December  2022    EXP CAN'T RET   2
15   December  2022  OTHER (UNKNOWN)   4
16    January  2023  Elementary With  60
17    January  2023  Enroll In Other   2
18    January  2023    EXP CAN'T RET  15
19    January  2023  OTHER (UNKNOWN)  21
20   February  2023  Elementary With  30
21   February  2023    EXP CAN'T RET   5
22   February  2023  OTHER (UNKNOWN)  14
23      March  2023  Elementary With  25
24      March  2023  Enroll In Other   1
25      March  2023    EXP CAN'T RET   5
26      March  2023  OTHER (UNKNOWN)   9
27      April  2023  Elementary With   2
28      April  2023  OTHER (UNKNOWN)   3

Bad pipe message: %s [b'0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7\r\nHost: localhost:44039\r\nUs', b'-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.']
Bad pipe message: %s [b'0.0 Safari/537.36\r\nAccept-Encoding: gzip, defla']
Bad pipe message: %s [b', br, zstd\r\nAccept-Language: en-US,en;q=0.9\r\nCache-Control: max-age=0\r\nReferer: https://github.com/\r\nX-Request-ID: ', b'ad9a43bc566f30a07714399d89271f\r\nX-Real-IP: 197.52.215.177\r\nX-Forwarded-Port: 443\r\nX-Forwarded-Scheme:']
Bad pipe message: %s [b'ttps\r\nX-Original-URI: /\r\nX-Sche']
Bad pipe message: %s [b': https\r\nsec-fetch-site: cross-site\r\nsec-fetch-mode: navigate\r\nsec-fetch-dest: document\r\nsec-ch-ua: "Chromiu', b';v="122", "Not(A:Brand";v="24", "Google Chrome";v="122"\r\nsec-ch-ua-mobile: ?0\r\nsec-ch-ua-platform: "Windows"']
Bad pipe message: %s [b'X-Original-P']
Bad pipe message: %s [b'to: https\r\nX-Forwarded-Proto: https\r\nX-Forwarded-Host: humble-space-orbit-6wr9x7xqvg5fw5v-44039.app.github.dev\r\nX', b'orwarded-For: 197.52.215.177\r\nProxy-Connecti']